/*=============================
base
=============================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

.button {
    cursor: pointer;
    transition: all .3s;
}
.button:hover {
    transform: scale(1.05);
}

.button a {
    pointer-events: none;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}
body.about-active {
    overflow-y: auto;
}

/*=============================
animation
=============================*/
/* opening */
@keyframes back {
    0% {
        top: 0;
    }
    60% {
        top: 0;
    }
    80% {
        top: -100vh;
    }
    100% {
        top: -100vh;
    }
}
.anime-background {
    animation: 4s back forwards ease-in-out;
}

@keyframes logo {
    0%, 15% {
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
    }
    20% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    80% {
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
    }
    85% {
        opacity: 0;
        top: auto;
        bottom: -70px;
        left: 20px;
        transform: none;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: auto;
        bottom: -70px;
        left: 20px;
        transform: none;
    }
}
.anime-logo {
    animation: 4s logo forwards ease-in-out;
}

/* ふわふわ */
@keyframes fuwa {
    0%, 100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
}
@keyframes refuwa {
    0%, 100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
}
.anime-fuwa {
    animation: 2.5s fuwa infinite ease-in-out;
}
.anime-refuwa {
    animation: 2.5s refuwa infinite ease-in-out;
}
.anime-walk {
    animation: 2s fuwa infinite linear;
}

/*=============================
header
=============================*/
.logo {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: #447156;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 10;
}
h1 img {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 1));
}
.nav {
    position: relative;
    bottom: -100vh;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transition: all 1s;
}
.nav-active {
    bottom: 0vh;
}

.nav_menu {
    position: absolute;
    bottom: 6vw;
    left: 0;
    transform: translateX(10vw);
    width: 20vw;
    z-index: 2;
}
.nav_menu li {
    margin-bottom: 20px;
}
.nav_bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(16vw);
    width: 10vw;
    z-index: 1;
}
.nav img {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 1));
}

/*=============================
main
=============================*/
.main {
    width: 100%;
    height: 100vh;
}
.container {
    width: 200vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition: all 5s;
}
.container.about-area {
    position: fixed;
}
.container.work-area {
    right: -100%;
}

section {
    width: 100vw;
    position: relative;
    z-index: 5;
}

/* home */
.home {
    width: 100vw;
    order: 2;
}

/* about */
.about {
    margin-top: 0;
    background-color: antiquewhite;
    height: 200vh;
    transition: all .5s;
}
.about.active {
    margin-top: -50vh;
}

/* work */
.work {
    order: 1;
    height: 100vh;
}
.back_work {
    width: 18vw;
    position: absolute;
    z-index: 1;
    bottom: 26vw;
    left: 2vw;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 1));
}

/*=============================
bg
=============================*/
.bg-img {
    background-repeat: repeat-x;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.bg-img_sky {
    background-position: top center;
    background-image: url(img/img_bg-morning.png);
    background-size: cover;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
}
.bg-img_sky.morning {
    background-image: url(img/img_bg-morning.png);
}
.bg-img_sky.evening {
    background-image: url(img/img_bg-evening.png);
}
.bg-img_sky.night {
    background-image: url(img/img_bg-night.png);
}
.bg-img_sky img {
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .3));
}
.bg-img_sky img:nth-child(1) {
    width: 6%;
    top: 6%;
    left: 6%;
}
.bg-img_sky img:nth-child(2) {
    width: 7%;
    top: 6%;
    right: 6%;
}
.bg-img_forest {
    position: absolute;
    background-image: url(img/img_bg-forest.png);
    background-size: auto 100vh;
    background-position: right bottom;
    bottom: -4%;
    z-index: 2;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .6));
}
.bg-img_ground {
    position: absolute;
    background-image: url(img/img_bg-ground.png);
    background-size: auto 100%;
    background-position: center bottom;
    height: 8vw;
    bottom: 0;
    z-index: 4;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .6));
}

/* work */
.bg-img_ground_work {
    background-image: url(img/img_bg-ground_work.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50vw;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .6));
}
.flower {
    background-image: url(img/img_bg-ground_work-flower.png);
    width: 48vw;
    bottom: 0;
    left: -2%;
    z-index: 4;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .3));
}

/*=============================
parts
=============================*/
.parts-img_girl {
    position: absolute;
    bottom: -60px;
    right: -200px;
    z-index: 3;
    width: 10vh;
    min-width: 14vw;
    transition: right 3.5s;
}
.parts-img_girl img {
    transform: scale(1, 1);
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 1));
}
.parts-img_girl img.right {
    transform: scale(-1, 1);
}

/* work */
.parts-img_girl_work-sleep {
    width: 28vw;
    position: absolute;
    left: 0;
    bottom: 6vw;
    z-index: 5;
}
.parts-img_girl_work-sleep img {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 1));
}
.parts-img_girl_work-sleep .zzz {
    width: 20%;
    position: absolute;
    right: 15%;
    top: -34%;
    z-index: 1;
}

/*=============================
footer
=============================*/

/*=============================
共通JSクラス
=============================*/
/* 表示切り替え */
.show {
    opacity: 1;
    visibility: visible;
}
.none {
    opacity: 0;
    visibility: hidden;
}